REACT_APP_BACKEND_URL=https://webbuilderapi.husmerk.com
REACT_APP_APP_ORIGIN=https://admin-web-builder.husmerk.com

# Optional monitoring / analytics
# REACT_APP_SENTRY_DSN=https://examplePublicKey@o0.ingest.sentry.io/0
